<table>
        <tr>
      
          <td>
            <img style="width: 25px; height: 25px; display: inline-block;" src="https://static.thenounproject.com/png/57788-200.png">
          </td>
          <td>
            <p style="padding: 20px; text-align: center">היקף חזה</p>  
          </td>
      
            <td>
            <form class="example-form">
        
               
      
                <mat-form-field class="example-full-width">
                  <input type="number" [(ngModel)]='style.forms.chest' name="chest" matInput [placeholder]="style.errChest ? '55-140 סמ' : 'סמ' " [ngStyle]="{'background-color': style.errChest ? 'rgb(250, 160, 160)' : 'white'}">
                </mat-form-field>
              </form>
            </td>
      
            </tr>
      
      
            <tr>
      
                <td>
                  <img style="width: 25px; height: 25px; display: inline-block;" src="https://static.thenounproject.com/png/57788-200.png">
                </td>
                <td>
                  <p style="padding: 20px; text-align: center">היקף מותניים</p>  
                </td>
            
                  <td>
                  <form class="example-form">
              
                     
            
                      <mat-form-field class="example-full-width">
                          <input type="number" [(ngModel)]='style.forms.waist' name="waist" matInput [placeholder]="style.errWaist ? '37-130 סמ' : 'סמ' " [ngStyle]="{'background-color': style.errWaist ? 'rgb(250, 160, 160)' : 'white'}">
                      </mat-form-field>
                    </form>
                  </td>
            
                  </tr>
      
      
                  <tr>
      
                      <td>
                        <img style="width: 25px; height: 25px; display: inline-block;" src="https://static.thenounproject.com/png/57788-200.png">
                      </td>
                      <td>
                        <p style="padding: 20px; text-align: center">היקף ירכיים</p>  
                      </td>
                  
                        <td>
                        <form class="example-form">
                    
                           
                  
                            <mat-form-field class="example-full-width">
                                <input type="number" [(ngModel)]='style.forms.hips' name="hips" matInput [placeholder]="style.errHips ? '66-155 סמ' : 'סמ' " [ngStyle]="{'background-color': style.errHips ? 'rgb(250, 160, 160)' : 'white'}">
                            </mat-form-field>
                          </form>
                        </td>
                  
                        </tr>
      
      
            </table>
