<div class="stylingBox">

    <app-nav-bar></app-nav-bar>

    <br><br>



    <h1 style="text-align: center">choose your sizes</h1><br><br>

    <table>
        <tr>
            <td>height: {{user.tempAcc.getShape().getHeight()}}</td>
            <td>
                <select class="options" style="width: 100px;" [(ngModel)]='Height'>
                    <option value="1" selected>----</option>
                    <option value="High">High</option>
                    <option value="Avrage">Avrage</option>
                    <option value="Short">Short</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Breast: {{user.tempAcc.getShape().getChaest()}}</td>
            <td>
                <select class="options" style="width: 100px;" [(ngModel)]='Breast'>
                    <option value="1" selected>----</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>waist: {{user.tempAcc.getShape().getWeist()}}</td>
            <td>
                <select class="options" style="width: 100px;" [(ngModel)]='Waist'>
                    <option value="1" selected>----</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Thigh scale: {{user.tempAcc.getShape().getThigh()}}</td>
            <td>
                <select class="options" style="width: 100px;" [(ngModel)]='Thigh'>
                    <option value="1" selected>----</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                </select>
            </td>
        </tr>
    </table>

    <br><br><br>

    <h1 style="text-align: center">change your profile</h1>
    <table>
        <tr>
            <td>your Email: {{user.tempAcc.getEmail()}}</td>
        </tr>
        <tr *ngIf='!user.fbLoged'>
            <td>change password: </td>
            <td *ngIf='replacePass'>Old password: <input type="text" [(ngModel)]='oldPass'> <a (click)='checkPass()'
                    style='cursor: pointer; margin-left: 20px; color: blue'>check</a></td>
            <td *ngIf='!replacePass'>New password: <input type="text" [(ngModel)]='newPass'></td>
            <td *ngIf='wrongPss' style="color: red;">*password not match</td>
        </tr>
    </table><br><br>

    <button class="sub" (click)='sub()'>submit</button>


</div>