.stylingBox{
    background-color: white;
    border-style: solid;
    width: 1000px;
    height: 650px;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-right: 30%;
    overflow: auto;
    position:relative;
    }


      /*cart*/
  
  .cart{
    display: inline-block;
  }

  .pMessurment{
    height: 20px;
    width: 20px;
  }
  
  
  .emailWidth{
    display: inline-block;
  }
  
  .help{
    height: 20px;
    width: 20px;
  }
  
  .mIcon{
    display: inline-block;
  }

  .mIcon .mIconText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }

  .mIcon:hover .mIconText {
    visibility: visible;
  }

      /*close button*/
  
      .close {
        position: absolute;
        width: 20px;
        height: 20px;
        opacity: 0.3;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

      /*skin cl*/

      .skinCl{
        width: 24px;
        height: 24px;;
      }

      .row{
        margin-left: 10px;
      }

      .sub{
        width: 450px;
        height: 50px;
        margin-left: 100%;
      }

      .sub:hover{
        background-color: rgb(234, 234, 253);
      }

        /*help*/

  #thumbwrap {
    position:relative;
  }
  .thumb span { 
    position:absolute;
    visibility:hidden;
  }
  .thumb:hover, .thumb:hover span { 
    visibility:visible;
    top:0;
    left:100px; 
    z-index:1;
  }
