<div class="stylingBox">

  <app-nav-bar></app-nav-bar>

  <br><br>

<button routerLink='/clothVar' mat-button>חזור</button><br><br>


      <!--cart-->
      <div class="container">     
        <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>פריט</th>
              <th>תכונות</th>
              <th>כמות</th>
              <th>מחיר/יחידה</th>
              <th>סך מחיר</th>
            </tr>
          </thead>
          <tbody *ngIf='emptyCart'>
            <tr *ngFor='let item of user.tempAcc.getMyCart()' style="text-align: right">
              <td><img src={{item.getPic()}} width="100px" height="100px"></td>
              <td> <p class="remove" (click)='remove(item.getBarcode())' style="margin-left: 60px;">הסר</p></td>
              <td>צבע: {{item.getColor()}}<br> מידה: {{item.getSize()}}</td>
              <td>{{item.getQty()}}</td>
              <td>{{item.getMoney()}}</td>
              <td>{{item.getMoney()}} * {{item.getQty()}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>


            <!--favorites-->
            <div class="container">     
              <div class="table-responsive">          
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Features</th>
                    <th>quantity</th>
                    <th>price/unit</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf='emptyFavorite'>
                  <tr *ngFor='let item of cart.clothsInFavorite'>
                    <td><img src={{item.getColorCloth()[0].getClothPic()[0]}} width="100px" height="100px" (click)='itemSelect(item)'></td>
                    <td>color: 
                        <select [(ngModel)]='color'>
                            <option *ngFor='let colors of item.getColorCloth()' value={{colors.getColor()}}>{{colors.getColor()}}</option>
                          </select><br>
                          size:
                          <select [(ngModel)]='size'>
                              <option *ngFor='let size of item.getColorCloth()[0].getSizes()' value={{size}}>{{size}}</option>
                            </select>
                     </td>
                    <td></td>
                    <td>
                        <button (click)='add(item.setQty(-1))' mat-mini-fab color="primary">-</button>
                        {{item.getQty()}}
                        <button (click)='add(item.setQty(1))' mat-mini-fab color="primary">+</button>
                    </td>
                    <td>{{item.getPrice()}}</td>
                    <td><button (click)='addCart(item.getBarcode(), item.getColorCloth()[0].getClothPic()[0], item.getQty())'>Add to cart</button></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>




<!--summary-->
      <div class="row">
        <div class="col-6">
          <div class="totalBox">
            <h3 class="par">   Order Summary:   </h3><br><br><br>
            <p>total items: {{totItems}}</p>
            <p>total sum: {{totPrice}} &#8362;</p><br><br><br>

         <button style="margin-left: 15%; width: 300px;" mat-button>send Items</button>

          </div>



        </div>


        <!--missed items-->

        <div class="col-6">
          <div class="totalBox">

            <h4 class="par">Item you might missed!</h4><br><br>
            
            <div class="row">
              <div class="col-4" *ngFor='let item of cart.addCloths'>
                <a (click)='description(item)' style="cursor: pointer"><img src={{item.getColorCloth()[0].getClothPic()[0]}} width="100px" height="100px"></a>
              </div>
            </div>

          </div>
        </div>

      </div>

</div>
