.myBox{
    background-color: white;
    margin-right: 40px;
}

.btn{
    margin-left: 35%;
    background-color: grey;
}

.products{
    margin-left: 50px;
    margin-top: 50px;
}

.prod{
    /*padding-left: 70px;*/
    display: inline-block;
}

.border{
    border: 2px;
    border-style: solid;
    border-color: rgb(189, 183, 183);
    width: 200px;
}