<div id="login-box">


        <div class="left-box">
          <h1 style="text-align: center"> התחברות </h1>
          <input type="text" [(ngModel)]='loginUserData.email' name="Email" placeholder="אימייל"/>
          <input type="password" [(ngModel)]='loginUserData.password' name="Password" placeholder="סיסמא"/>
          <p style="color: red" *ngIf='loginErr'>*password not match with user</p>


          <!--login button-->
          <meta charset="utf-8">
    <title>button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="hamid haghdoost">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <div id="box" style="margin-top: 40px;">
        <a  (click)='login()'>התחברות</a>
    </div>       
        <!---->

    </div>
    
        <a class="backBtn" routerLink='/newAcc'>הרשמה</a>
    
    
        <div class="right-box">
          <span class="signinwith">התחברות בעזרת<br>Facebook </span>
          <button class="social facebook" (click)='facebookLogin()'>התחברות בעזרת Facebook</button>


          <div class="col-12">  


            
          </div>
          <p *ngIf='!user.errChecked' class="errCheck">חייב לאשר תקנון</p>
          
          
        </div>
    
    
        <div class="or">או</div>
    
      </div> 
