<div id="login-box">


    <div class="left-box">
      <h1 style="margin-left: 100px"> הרשמה </h1><br>
      <input style="margin-right: 30px;" type="text" [(ngModel)]='registerUserData.FirstName' name="firstname" placeholder="שם פרטי"/>
      <p class="err" *ngIf='user.errFName'>*please insert first name</p>
      <input style="margin-right: 30px;" type="text" [(ngModel)]='registerUserData.LastName' name="lastname" placeholder="שם משפחה"/>
      <p class="err" *ngIf='user.errLName'>*please insert last name</p>
      <input style="margin-right: 30px;" type="text" [(ngModel)]='registerUserData.email' name="email" placeholder="אימייל" required/>
      <p class="err" *ngIf='user.errEmail'>*please insert email</p>
      <input style="margin-right: 30px;" type="password" [(ngModel)]='registerUserData.password' name="Pass1" placeholder="סיסמא" required/>
      <p class="err" *ngIf='user.errPass1'>*please insert password</p>
      <input style="margin-right: 30px;" type="password" [(ngModel)]='pass2' name="pass2" placeholder="סיסמא חוזרת"/>
      <p class="err" *ngIf='user.errPassMatch'>*password not match</p>
      <p class="err" *ngIf='user.errLengthPass'>*הסיסמה חייבת להיות לפחות באורך 6 תווים </p>

      <!---->

          <!--verify-->

            <div class="col-12" style="left: 150px;">

    <a class="verify" href="#">תקנון</a>

    <input type="checkbox" id="_checkbox" [checked]='verify' (change)='verify = !verify' name='_checkbox'>
    <label for="_checkbox">
      <div id="tick_mark"></div>
      
    </label>  

    
  </div>

  <p *ngIf='!user.errChecked' class="errCheck">חייב לאשר תקנון</p>


          <!--login button-->
          <meta charset="utf-8">
    <title>button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="hamid haghdoost">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <div id="box">
        <a style="top: 200px" (click)='sub()'>הרשמה</a>
    </div>       
        <!---->
      </div>

    <a class="backBtn" routerLink='/login'>התחברות</a>


    <div class="right-box">
      <span class="signinwith">הרשם בעזרת<br>פייסבוק </span>
      <button class="social facebook">הרשם עם facebook</button>
    </div>


    <div class="or">או</div>

  </div> 