.main{
    margin-left: 300px;
    margin-top:80px;
    background-color: grey;
    width: 600px;
}

.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

.box{
    margin-left: 50px;
    background-color: white;
    width: 300px;
}