<div class="stylingBox">
  <div class="title">
  <div class="row">
    


      <div class="col-6">
        <p class="par">special style suggestion for you</p>
      </div>

        <div class="col-6">
          <div class="row">
          <!--user-->  
            <div *ngIf='user.loged' class="col-6">
      
              <span>{{user.tempAcc.getEmail()}}</span>
            </div>


            <div *ngIf='user.loged' class="col-6">
                
    
                <a (click)='Logout()'>Logout</a>
    
                <img src="https://image.flaticon.com/icons/svg/145/145864.svg" style="width: 24px; height: 24px;"
                    routerLink='/myStyle'>
    
              </div>

            </div>


          <!--log-->
            <div *ngIf='!user.loged'>
              <p><a routerLink='/login'>Login</a> / <a routerLink='/newAcc'>registar</a></p>
            </div>
            
            
    


              

            </div>

          </div>








    </div>
    <p class="explain">לחיצה קטנה על <span>play</span> והכל יתבהר</p>

    <iframe width="560" height="315" style="margin-left: 20%;" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>



    <button class="button button4" routerLink='/measurment'>continue without signing</button>
</div>
