<div class="stylingBox">
  <div class="title">
  <div class="row">
    


      <div class="col-10" style="left: 100px;">
        <p class="par">הצעות סטיילינג במיוחד בשבילך</p>
      </div>

        <div class="col-2">
          <div class="row">
          <!--user-->  
            <div *ngIf='user.loged' class="col-6">
      
              <span>{{user.tempAcc.getEmail()}}</span>
            </div>


            <div *ngIf='user.loged' class="col-6">
                
    
                <a (click)='Logout()'>Logout</a>
    
                <img src="https://image.flaticon.com/icons/svg/145/145864.svg" style="width: 24px; height: 24px;"
                    routerLink='/myStyle'>
    
              </div>

            </div>


          <!--log-->
            <div *ngIf='!user.loged'>
              <p><a routerLink='/login'>התחבר</a> / <a routerLink='/newAcc'>הרשם</a></p>
            </div>
            
            
    


              

            </div>

          </div>








    </div>
    <p class="explain">לא ברור מה קורה פה? הפעילו את הסרטון והכל יתבהר</p>

    <iframe width="560" height="315" style="margin-left: 20%;" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>



    <button class="button button4" routerLink='/measurment'>המשך ללא הרשמה</button>
</div>
