<div class="checkbox">
    <div class="check">
        
        <div class="row">

          <div class="col-10">
              
              <input style="margin-right: 40px;" [(ngModel)]='dress' type="checkbox" name='dress' (click)='selectItem("שמלה")'> שמלות
              <input style="margin-right: 40px;" [(ngModel)]='shirt' type="checkbox" name='shirt' (click)='selectItem("חולצה")'> חולצות
              <input style="margin-right: 40px;" [(ngModel)]='shoes' type="checkbox" name='shoes' (click)='selectItem("נעליים")'> נעליים
              <input style="margin-right: 40px;" type="checkbox" name='dress' (click)='selectItem("")'> שמלות
              <input style="margin-right: 40px;" type="checkbox" name='shirt' (click)='selectItem("")'> חולצות
              <input style="margin-right: 40px;" type="checkbox" name='Bags' (click)='selectItem("")'> נעליים<br><br>

              <input style="margin-right: 40px;" type="checkbox" name='dress' (click)='selectItem("")'> שמלות
              <input style="margin-right: 40px;" type="checkbox" name='shirt' (click)='selectItem("")'> חולצות
              <input style="margin-right: 40px;" type="checkbox" name='Bags' (click)='selectItem("")'> נעליים
              <input style="margin-right: 40px;" type="checkbox" name='dress' (click)='selectItem("")'> שמלות
              <input style="margin-right: 40px;" type="checkbox" name='shirt' (click)='selectItem("")'> חולצות
              <input style="margin-right: 40px;" type="checkbox" name='Bags' (click)='selectItem("")'> נעליים

          </div>

          <div  class="2">
            <a style="margin-right:0" (click)='filsterStat()' class="close"></a><br><br>
            <button style="margin-right:  30px" mat-button (click)='calibration()'>איפוס</button>
        </div>
              
              
        </div>
     
    </div>
  </div>